@use '../../../styles/mixins' as *;
.infoField {
  @include info-field;
}

.label {
  @include label;
}

.content {
  @include real-title;
}

@media (min-width: 2560px) {
  .label{
    font-size: 19px; 
  }
}

@media (min-width: 3440px) {
  .label{
    font-size: 25px; 
  }
}

@media (min-width: 3840px) {
  .label{
    font-size: 28px;
  }
}
