.infoField {
  display: flex;
  flex-direction: column;
  gap: 4px;
  letter-spacing: 0.075em;
}

.label {
  font-family: var(--font-iceland), "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
}

.content {
  font-family: var(--font-jetbrains-mono), "JetBrains Mono", monospace;
  font-size: 18px;
  color: #E84A4A;
  text-transform: uppercase;
}
