@use 'variables' as *;

@mixin gradient-text {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 30%,
    rgba(255, 255, 255, 0.4) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

@mixin hero-title {
  font-weight: 400;
  font-size: $font-size-hero;
  line-height: $line-height-hero;
  @include gradient-text;
}

@mixin section-title {
  font-weight: 400;
  font-size: $font-size-section;
  line-height: $line-height-section;
  @include gradient-text;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin real-title {
  font-family: var(--font-handjet), "Handjet", sans-serif;
  font-size: 25px;
  color: #E84A4A;
  text-transform: uppercase;
}

@mixin info-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
  letter-spacing: 0.075em;
}

@mixin label {
  font-family: var(--font-iceland), "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  margin: 0;
  letter-spacing: 0.075em;
}

